<footer>
    <div>
        <div>
            <img src="./assets/logo.png" title="logo">
            <span class="brand-name">Casa Apostólica Mundial</span>
        </div>
        <div>
            <a href="#">{{ 'footer.about' | translate}}</a>
            <a href="#">{{ 'footer.contact' | translate}}</a>
            <a href="#">{{ 'footer.privacyPolicy' | translate}}</a>
            <a href="#">{{ 'footer.termsOfService' | translate}}</a>
        </div>
        <div >
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>