$primary-color: #17139C;
$secondary-color: #DD3E3E;
$background-color: #F2F2F2;

* {
    transition: all 0.3s ease;
}

body, html {
    height: 100%; // Garante que o body e html tenham altura total
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    flex: 1 0 auto; // Faz com que o wrapper ocupe todo o espaço disponível
}

.navbar-logo {
  order: 1;  // aparece primeiro
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;  // espaçamento da borda direita da tela
  .logo-img {
      max-width: 100px;  // ou o tamanho desejado
  }
  .title {
    color: $primary-color;
    font-weight: 600;
    font-size: 150%;
    padding-bottom: 1rem;
    position: relative;

    &:after {
        content: "";
        width: 80px;
        height: 3px;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
}

.top-bar {
  order: 2;  // aparece após a logo
  margin-right: 20px;  // espaçamento da borda direita da tela
  .language-toggle {
    button[type="button"] {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
}

/* Estilizando a estrutura geral */
.container-fluid {
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}



/* Efeitos e estilização dos botões */
.btn {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
}

.btn-outline-secondary {
    color: $primary-color;
    border-color: $primary-color;
    margin-left: 5px;
    margin-right: 5px;
    &:hover, 
    &:focus {
        background-color: rgba($primary-color, 0.1);
        border-color: darken($primary-color, 10%);
    }
}

.btn-group-sm .btn.active {
    background-color: $primary-color;
    color: white;
    border-color: darken($primary-color, 10%);
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

    .dropdown-item {
        transition: background-color 0.2s;

        &:hover {
            background-color: rgba($primary-color, 0.1);
        }
    }
}

.main-container {
    .btn-group-section {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        // gap: 1.5rem;
        align-items: center;

        .view-toggle, .language-toggle {
            button[type="button"] {
                margin-right: 1rem;
                margin-left: 1rem;
                &:last-child {
                    margin-right: 1;
                }
            }
        }
    }
}

.main-content {
    flex: 1;  // Isso faz o conteúdo principal expandir e ocupar o espaço disponível
  }
// FOOTER
$footer-bg-color: #17139C;;
$footer-text-color: #f2f2f2;
$footer-highlight: #f2f2f2;

.app-footer {
    background-color: $footer-bg-color;
    padding: 2rem 0;
    color: $footer-text-color;
    flex-shrink: 0;
    margin-top: 20px;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        gap: 2rem;
        
        .brand {
            display: flex;
            align-items: center;
            
            .footer-logo {
                width: 50px;
                height: auto;
                margin-right: 1rem;
            }

            .brand-name {
                font-weight: bold;
                color: $footer-highlight;
            }
        }

        .footer-links, .social-media {
            display: flex;
            gap: 1rem;

            a {
                text-decoration: none;
                color: $footer-text-color;

                &:hover {
                    color: $footer-highlight;
                }
            }
        }

        .social-media {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    .app-footer .footer-content {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;

        .brand, .footer-links, .social-media {
            margin-bottom: 1rem;
        }
    }
}
// END FOOTER
@media (max-width: 768px) {
    .main-container {
        .btn-group-section {
            flex-direction: column;
            gap: 1rem;
        }
    }
}
