<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- NAVBAR -->
<div class="main-wrapper">
  <div class="container-fluid">
    <div class="navbar-logo">
      <span class="title">{{ 'form.faithful.title' | translate }}</span>
      <img src="../assets/logo.png" alt="Logo" class="logo-img">
    </div>
    <!-- <h3 class="title">{{ 'form.faithful.title' | translate }}</h3> -->
    <!-- Menu de navegação principal -->
    <div class="btn-group-section d-flex justify-content-between">
      <!-- Botões de navegação -->
      <div class="view-toggle btn-group btn-group-sm">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleView('faithful')"
          [class.active]="view === 'faithful'">{{ 'home.nav.form-register' | translate }}</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleView('dashboard')"
          [class.active]="view !== 'faithful'">{{ 'home.nav.dashboard' | translate }}</button>
      </div>
      <div class="top-bar">
        <div class="language-toggle btn-group btn-group-sm" dropdown>
          <button dropdownToggle type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            {{ translateService.currentLang | uppercase }}
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" (click)="changeLanguage('pt-BR')"
              [class.active]="!translateService.currentLang || translateService.currentLang === 'pt-BR'">Português</button>
            <button class="dropdown-item" (click)="changeLanguage('en-US')"
              [class.active]="translateService.currentLang === 'en-US'">English</button>
            <button class="dropdown-item" (click)="changeLanguage('es-ES')"
              [class.active]="translateService.currentLang === 'es-ES'">Español</button>
            <button class="dropdown-item" (click)="changeLanguage('fr-FR')"
              [class.active]="translateService.currentLang === 'fr-FR'">Francés</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section">
    <app-faithful *ngIf="showFaithful"></app-faithful>
    <app-dashboard *ngIf="showDashboard"></app-dashboard>
  </div>
</div>
<!-- END NAVBAR -->
<footer class="app-footer">
  <div class="footer-content">
    <div class="brand">
      <img src="./assets/logo.png" class="footer-logo">
      <span class="brand-name">Casa Apostólica Mundial</span>
    </div>

    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>

    <div class="social-media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>