<app-navbar></app-navbar>

<body class="container-fluid pb-4">
	<div class="sub-navigation">
		<div class="d-flex justify-content-between">
			<div class="btn-group btn-group-sm py-2">
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleView('faithful')"
					[class.active]="getActiveView('faithful')">{{ 'home.nav.form-register' | translate }}</button>
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleView('dashboard')"
					[class.active]="getActiveView('dashboard')">{{ 'home.nav.dashboard' | translate }}</button>
			</div>

			<div class="btn-group btn-group-sm py-2">
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="changeLanguage('pt-BR')"
					[class.active]="!translateService.currentLang || translateService.currentLang === 'pt-BR'">Português</button>
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="changeLanguage('en-US')"
					[class.active]="translateService.currentLang === 'en-US'">English</button>
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="changeLanguage('es-ES')"
					[class.active]="translateService.currentLang === 'es-ES'">Español</button>
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="changeLanguage('fr-FR')"
					[class.active]="translateService.currentLang === 'fr-FR'">Francés</button>
			</div>
		</div>
	</div>

	<router-outlet />
</body>

<app-footer></app-footer>