@import "~font-awesome/css/font-awesome.css";

$primary-color: #17139C;
$secondary-color: #DD3E3E;
$highlight-color: #FFE5E1;
$background-color: #F2F2F2;

/* Estilizando a estrutura geral */
.container-fluid {
    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: $primary-color;
    font-weight: 600;
    border-bottom: 2px solid $highlight-color;
    padding-bottom: 10px;
  }
  
  /* Estilizando os botões */
  .btn-outline-secondary {
    color: $primary-color;
    border-color: $highlight-color;
    transition: background-color 0.3s, color 0.3s;
  
    &:hover, 
    &:focus {
      background-color: $highlight-color;
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  
  .btn-group-sm .btn.active {
    background-color: $primary-color;
    color: $highlight-color;
    border-color: $primary-color;
  
    &:hover, 
    &:focus {
      background-color: darken($primary-color, 10%);  // escurece o azul em 10%
      color: $highlight-color;
    }

    .sub-navigation {
      display: block;
      background-color: red;
      height: 40px;
    }
  }
  
  /* Adicionando espaço para a área de botões */
  .btn-group {
    margin-bottom: 20px;
  }

  .world-bg {
    background-image: url('./../assets/images/world-background-blue.png');
    background-repeat: round;
  }
  
  .faithful-form {
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px;
  
    @media (min-width: 768px) {
      width: 60vh; 
      margin: 0 auto; 
    }
  }
  /* Se você estiver usando SCSS, o código acima pode ser adicionado ao seu arquivo SCSS. 
  Caso contrário, remova as variáveis e use as cores diretamente no arquivo CSS. */
  