<div class="faithful-form form-bg">
  <form [formGroup]="faithfulForm" class="col-lg-6 m-auto" (submit)="onSubmit()">
    <div class="form-group">
      <label for="fullName">{{ 'form.faithful.fullName' | translate }}</label>
      <input type="text" id="fullName" name="fullName" formControlName="fullName">
    </div>

    <div class="form-group">
      <label for="phoneNumber">{{ 'form.faithful.phoneNumber' | translate }}</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="form-group">
      <label for="birthday">{{ 'form.faithful.birthday' | translate }}</label>
      <input type="date" id="birthday" name="birthday" formControlName="birthday">
    </div>

    <div class="form-group">
      <label for="originCity">{{ 'form.faithful.originCity' | translate }}</label>
      <input type="text" id="originCity" name="originCity" formControlName="originCity">
    </div>

    <div class="form-group">
      <label for="country">{{ 'form.faithful.country' | translate }}</label>
      <input type="text" id="country" name="country" formControlName="country">
    </div>

    <div class="form-group">
      <label for="originNetwork">{{ 'form.faithful.originNetwork' | translate }}</label>
      <select id="originNetwork" name="originNetwork" formControlName="originNetwork">
        <option value="" disabled selected>Selecionar...</option>
        <option value="TIKTOK">{{ 'socialMedia.tiktok' | translate }}</option>
        <option value="FACEBOOK">{{ 'socialMedia.facebook' | translate }}</option>
        <option value="INSTAGRAM">{{ 'socialMedia.instagram' | translate }}</option>
        <option value="FAMILIAR">{{ 'socialMedia.relatives' | translate }}</option>
        <option value="AMIGOS">{{ 'socialMedia.friends' | translate }}</option>
        <option value="EVANGELISMO">{{ 'socialMedia.evangelism' | translate }}</option>
      </select>
    </div>

    <button type="submit" class="btn" [disabled]="!faithfulForm.valid">{{ 'form.submit' | translate }}</button>
  </form>
</div>