$primary-color: #17139C;
$secondary-color: #DD3E3E;
$highlight-color: #FFE5E1;
$background-color: #F2F2F2;

.dashboard-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    .chart-container {
        flex: 0 0 48%; // para garantir algum espaço entre os gráficos em telas grandes
        margin-bottom: 20px; // margem para separar gráficos quando estiverem empilhados
        // margin-left: 1px;
        // margin-right: 1px;
        // Estilos para os componentes ngx-charts, se necessário
        ngx-charts-pie-chart,
        ngx-charts-pie-grid {
            width: 100%; // assegurar que os gráficos ocupem toda a largura disponível
        }
    }
}

// Estilos responsivos para telas menores
@media (max-width: 991px) {
    .dashboard-container {
        padding: 15px;
    }

    .dashboard-container .chart-container {
        flex: 0 0 100%; // faz com que os gráficos ocupem a largura total em telas menores
        margin-bottom: 15px;
    }
}
