<div class="main-wrapper">
    <div class="main-container">
        <div class="main-content">
            <div class="dashboard-container">
                <div class="chart-container mx-auto w-75 col-md-12">
                    <ngx-charts-advanced-pie-chart [results]="data" [view]="view" [gradient]="gradient" [scheme]="'air'"
                        (select)="onSelect($event)">
                    </ngx-charts-advanced-pie-chart>
                </div>
                <div class="chart-container mx-auto w-75 col-lg-6 col-md-12" *ngIf="cityData.length > 0">
                    <ngx-charts-pie-grid [results]="cityData" [view]="view" [scheme]="'air'"
                        (select)="onSelect($event)">
                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
</div>